@use "tools" as *;
@use "fonts" as *;

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: rgba(0, 22, 51, 0.95);

  * {
    box-sizing: border-box;
  }

  img {
    display: block;
  }
}

.fifty-fifty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.sixty-forty {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

.project {
  // padding-bottom: 50px;
  color: white;

  img {
    width: 100%;
  }

  a {
    color: white;
  }

  p {
    width: 66%;
  }

  .hero {
    margin-bottom: 50px;

    .aspect {
      @include aspect-ratio(16, 4);
      overflow: hidden;
    }

    img {
      position: relative;
      bottom: 67%;
      width: 100%;
      // filter: blur(1px) brightness(120%);
    }

    video {
      width: 100%;
    }

    h1 {
      position: absolute;
      bottom: 5%;
      margin: 0;
      padding-left: 20px;
      z-index: 1;
    }

    .content {
      position: relative;
    }

    &__gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgb(0, 18, 37);
      background: linear-gradient(
        0deg,
        rgba(14, 32, 61, 0.6) 0%,
        rgba(14, 32, 61, 0) 30%,
        rgba(14, 32, 61, 0) 100%
      );
    }
  }

  .project-video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: fit-content;

    img.project-video__button {
      position: absolute;
      width: 120px;
    }

    &__button {
      display: block;

      &--hidden {
        display: none;
      }
    }
  }

  .gig {
    margin-bottom: 50px;
    padding: 0 20px;
  }

  &--munari-veil {
    h1 {
      color: white;
    }

    .hero {
      img {
        // filter: blur(1px);
        opacity: 0.6;
      }
    }

    .gig {
      img {
        width: 100%;
        max-width: 900px;
        margin-bottom: 20px;
      }

      h2 {
        margin-bottom: 20px;
      }
    }
  }

  &--stereoh {
    .hero {
      .aspect {
        @include aspect-ratio(16, 6);
        overflow: hidden;
      }

      video {
        width: 100%;
        height: 100%;
      }
    }

    .gig {
      img {
        width: 100%;
      }
    }
  }

  &--sound-noir {
    .hero {
      .aspect {
        @include aspect-ratio(16, 3.5);
        overflow: hidden;
      }

      img {
        bottom: 0;
      }

      h1 {
        top: 5%;
        color: #00f4f8;
      }
    }

    .gig {
      img {
        float: left;
        width: 100%;
        margin: 0;
      }

      .gig-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        max-width: 1400px;
      }
    }

    .sound-noir-portable {
      width: 50%;
      border: 1px solid #41a4c4;
    }
  }

  &--better-breaks {
    .hero {
      h1 {
        // bottom: 17%;
        // color: #ff6912;
        color: white;
      }

      // .aspect {
      //   @include aspect-ratio(16, 6);
      //   overflow: hidden;
      // }
    }

    h2 {
      margin-bottom: 0;
    }

    p {
      margin-top: 10px;
    }

    .gig {
      video {
        height: 90vh;
      }
    }
  }

  &--loops {
    .hero {
      .aspect {
        @include aspect-ratio(16, 6);
        overflow: hidden;
      }

      .project-video__video {
        position: absolute;
        top: -13vw;
        left: 0;
      }
    }

    .project-video {
      max-width: none;
      margin-bottom: 20px;

      &__video {
        width: 100%;
      }
    }
  }

  &--monolyth {
    overflow: hidden;
    margin-bottom: 50px;

    .hero {
      .aspect {
        @include aspect-ratio(16, 6);
        overflow: hidden;
      }
    }

    #hero--bloom {
      width: 100vw;
      height: 100%;
    }

    .p5Canvas {
      width: 100%;
      height: 100%;
    }

    .project-video {
      float: left;
      padding: 0 20px 20px 0;

      video {
        height: 90vh;
      }
    }
  }

  &--whirligrid {
    img {
      margin-bottom: 20px;
    }
  }
}
