@use "tools" as *;
@use "fonts" as *;

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: rgba(0, 22, 51, 0.95);

  * {
    box-sizing: border-box;
  }

  img {
    display: block;
  }
}

.fifty-fifty {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.sixty-forty {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

.project {
  // padding-bottom: 50px;
  color: white;

  .hero {
    margin-bottom: 50px;

    .aspect {
      @include aspect-ratio(16, 4);
      overflow: hidden;
    }

    img {
      position: relative;
      // bottom: 20%;
      bottom: 67%;
      width: 100%;
      // height: 100vh;
      // transform: rotate(180deg);
      // filter: blur(1px) brightness(120%);
    }

    h1 {
      position: absolute;
      bottom: -5%;
      padding-left: 20px;
      z-index: 1;
    }

    .content {
      position: relative;
    }
  }

  .gig {
    margin-bottom: 50px;
    padding: 0 20px;

    img {
      width: 100%;
      margin-bottom: 20px;
    }

    h2 {
      margin-bottom: 20px;
    }
  }

  &--munari-veil {
    h1 {
      color: white;
    }

    .hero {
      img {
        // filter: blur(1px);
        opacity: 0.6;
      }
    }

    .gig {
      img {
        width: 100%;
        max-width: 900px;
      }
    }
  }

  &--stereoh {
    .hero {
      .aspect {
        @include aspect-ratio(16, 6);
        overflow: hidden;
      }

      video {
        width: 100%;
        height: 100%;
      }
    }
  }
}
