// Maintain Aspect Ratio Mixin
// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
//
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }

  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin bp($point) {
  $xxSmall: "(min-width: 320px)";
  $xSmall: "(min-width: 500px)";
  $small: "(min-width: 768px)";
  $medium: "(min-width: 1100px)";
  $large: "(min-width: 1200px)";
  $extraLarge: "(min-width: 1600px)";
  $mobile: "(max-width: 599px)";
  $mid: "(min-width: 600px)";
  $v4k: "(min-width: 2000px) and (min-height: 3000px)";

  @if $point==xxs {
    @media all and #{$xxSmall} {
      @content;
    }
  }

  @if $point==xs {
    @media all and #{$xSmall} {
      @content;
    }
  }

  @if $point==sm {
    @media all and #{$small} {
      @content;
    }
  }

  @if $point==md {
    @media all and #{$medium} {
      @content;
    }
  }

  @if $point==lg {
    @media all and #{$large} {
      @content;
    }
  }

  @if $point==xl {
    @media all and #{$extraLarge} {
      @content;
    }
  }

  @if $point==mob {
    @media all and #{$mobile} {
      @content;
    }
  }

  @if $point==mid {
    @media all and #{$mid} {
      @content;
    }
  }

  @if $point==dsk {
    @media all and #{$desktop} {
      @content;
    }
  }

  @if $point==v4k {
    @media all and #{$v4k} {
      @content;
    }
  }
}
